## Notebook for final assignment

### Introduction
This notebook contains examples and exercises related to final assignment.

### Data Science Languages
- Python
- R
- SQL
- Java
- Scala

### Data Science Libraries
- NumPy
- Pandas
- SciPy
- Scikit-learn
- TensorFlow
- Pytorch
- Keras
- Matplotlib
- Seaborn

### Data Science Tools
           
- Jupyter
- RStudio                                   
- Apache Hadoop     
- Apache Spark                
- Tableau

### Arithmetic Expression Examples
Below are examples of basic arithmetic operations.

In [4]:
a = 22
b = 6
c = 2000
d = 2024

result1 = a+b
result2 = c*d

print(result1)
print(result2)

28
4048000

In [5]:
def convert(minute):
    return minute/60

hour = convert(600)
print(hour)

10.0

### Objectives
- Learn Data Warehouse
- Understand big data tools and libraries
- Get data engineer, data scientist certificate

### Author
Nguyen Quang Anh