# Data Science Tools and Ecosystem

## Introduction
This notebook contains examples and exercises related to data science.

## Data Science Languages
Some of the popular languages:
- Python
- R
- SQL
- Java
- Julia
- Scala

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- SciPy
- Scikit-learn
- TensorFlow
- Keras
- Matplotlib
- Seaborn


## Data Science Tools

| Tool           |
|----------------|
| Jupyter        | 
| RStudio        | 
| Apache Hadoop  | 
| Apache Spark   | 
| Tableau        |

### Arithmetic Expression Examples
Below are examples of basic arithmetic operations.

In [2]:
## This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
result

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
minute = 200
hour = minute/60
hour

3.3333333333333335

**Objectives**
- List popular languages for Data Science
- List popular libraries for Data Science
- List tools for Data Science

## Author:
Nguyen Quang Anh